logs
project/project
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
/activator-sbt-atmos-akka-shim.sbt
/activator-sbt-atmos-play-shim.sbt
activator
activator-launch-1.0.0.jar
activator.bat

credentials
shared/
/drive-credentials
config/
